body{
    justify-content: center;
    text-align: center;
}

.entry{
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    border-color: rgb(73, 44, 1);
    
}

form{
    padding: 20px;
    padding-top: 10%;
}

#btnEnviar{
    margin: 10px;
    background-color: rgb(73, 44, 1);
    padding: 10px;    
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.txt{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(73, 44, 1);
}

#txtBienvenida{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: initial;
    color: rgb(73, 44, 1);
}