.container{
    height: 300px;
    display: grid;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    
}
#Selects{
   margin: 20px;
    
}

#selectSignos{
   
    margin: 10px;
    width: 200px;   
    border-radius: 10px;
    background-color: rgba(71, 63, 63, 0.021);
    color: rgb(77, 56, 1);
}
#selectPerfil{
    
    margin: 10px;
    width: 200px;   
    border-radius: 10px;
    background-color: rgba(71, 63, 63, 0.021);
    color:rgb(77, 56, 1);
}

#txtSeleccionPage{
    padding: 30px;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic  ;
}

#btnHome{
    
    background-color: rgb(77, 56, 1);
    color: white;    
    width: 70px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    
   
}