body{
    justify-content: center;
    text-align: center;
}

.entry{
    border-radius: 10px;
    padding: 10px 20px 10px 35px;
}

form{
    padding: 20px;
    padding-top: 10%;
}

#btnEnviar{
    margin-top: 20px;
    background-color: rgb(48, 27, 238);
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.txt{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#txtBienvenida{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: white;
}


/*Css para los botones de crear y actualizar*/
.button {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
    margin: 10px; /*Espacio entre los botones*/
  }
  
  .button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
  }
  
  .button:focus {
    outline: none; /* Sin contorno al hacer clic */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al hacer clic */
  }
  