body{
    text-align: center;
    justify-content: center;
    display: flex;
}

.container{
    text-align: center;
    justify-content: center;
    background-color: rgb(139, 139, 143);
    padding: 50px;
    margin: 50px;
    border-radius: 30px;
    width: 550px;
    display: block;
}

.number{
    margin: 10px;
    height: 20px;
    border-radius: 20px;
    height: 40px;
    text-align: center;
}

.btnEnviar{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: rgb(33, 32, 78);
    color: rgb(240, 240, 240);
    border-color: rgb(24, 31, 66);
    margin-left: 10px;
    margin: 8px;
}

#txtCalculadora{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
